# Logs
logs/
*.log


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment
.env
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Messages and Media (except SuperExCN and MemoLabs2)
Messages and Media/*
!Messages and Media/SuperExCN
!Messages and Media/MemoLabs2

# Explicitly ignore these directories
Messages and Media/Hopper/
Messages and Media/MemoLabs/
Messages and Media/SuperEx/

# Ignore SSH keys
Memobot
Memobot.pub